@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-primary {
  font-family: "Public Sans", "sans-serif";
}

.ant-modal .ant-modal-content {
  border-radius: 0px;
}

/* .ant-btn-link {
  margin: 0px;
} */

/* ant-btn
  css-dev-only-do-not-override-d2lrxs
  ant-btn-link
  __className_a6f35b */
:where(.css-dev-only-do-not-override-d2lrxs).ant-btn-primary:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  background: #979797;
}
/* :where(.css-dev-only-do-not-override-d2lrxs).ant-btn-primary {
  background: #fff;
} */

:where(.css-dev-only-do-not-override-d2lrxs).ant-btn {
  border-radius: 0px;
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-input {
  border-radius: 0px;
  padding: 11px 16px;
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-input-affix-wrapper {
  border-radius: 0px;
  padding: 11px 16px;
  /* color: #a9abbd; */
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-input-outlined {
  border-color: #000;
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-input {
  font-family: sans-serif;
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-checkbox-wrapper {
  color: #979797;
}

:where(.css-dev-only-do-not-override-d2lrxs).ant-btn-link {
  color: #979797;
}

.text-\[14px\] {
  font-size: 14px;
}

/* :where(.css-dev-only-do-not-override-d2lrxs).ant-btn {
  font-weight: 700;
} */

/* :where(.css-dev-only-do-not-override-d2lrxs).ant-input {
  margin-top: 10px;
} */
/* button,
input,
optgroup,
select,
textarea {
  font-weight: 400;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

ul {
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}

.liNrml {
  height: 60px;
  color: white;
  padding: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
}

.liE {
  height: 60px;
  color: white;
  padding-right: 14px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
}

.square-checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid #000;
  border-radius: 0px;
  background-color: #fff;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
